extends layout

block header
    link(rel='stylesheet', href='/stylesheets/style.css')

block content
    script(src="../javascripts/webSocket.js")
    div(id="blog")
        div(id="tasks")
            h1 #{title}
            p(id="taskOne") #{task1}
            p(id="taskTwo") #{task2}
            p(id="taskThree") #{task3}
            p(id="taskFour") #{task4}