extends layout

block content
  script(src="../javascripts/webSocket.js")
  div.blog
    div.tasks
      h1 #{title}
      p.taskOne #{task1}
      p.taskTwo #{task2}
      p.taskThree #{task3}
      p.taskFour #{task4}